<table class="teamList table">
  <tr>
    <th>name</th>
    <th>pokemon 1</th>
    <th>pokemon 2</th>
    <th>pokemon 3</th>
    <th>pokemon 4</th>
    <th>pokemon 5</th>
    <th>start</th>
    <th>add</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <% 5.times do |index| %>
        <% if team.pokemons[index] %>
          <td>
            <p><%= team.pokemons[index].species.identifier %>(<%= team.pokemons[index].nickname %>)</p>
            <img src="<%= team.pokemons[index].species.img_url %>" alt="">
          </td>
        <% else %>
          <td>Empty</td>
        <% end %>
      <% end %>
      <td><%= team.start_time %></td>
      <td>
        <a href="#my-pokemon" data-toggle="modal">
          <button class="add-team-pokemon btn btn-success" id="<%= team.id %>">Add</button>
        </a>
      </td>
    </tr>
  <% end %>
</table>
<div class="text-center">
	<form action="/teams" method="post" enctype="multipart/form-data">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name" placeholder="New team name">
		<button class="btn btn-success">add new team</button>
	</form>
</div>

<div class="modal fade" id="my-pokemon" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form class="update-team" action="" method="post">
          <h4>My pokemon list</h4>
          <input type="hidden" name="_method" value="put">
          <select name="my_pokemon_id">
          <% @my_pokemons.each do |pokemon| %>
            <option value="<%= pokemon.id %>"><%= pokemon.species.identifier %>(<%= pokemon.nickname %>)</option>
          <% end %>
          </select>
          <button type="submit" name="button">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.add-team-pokemon').on('click', e=>{
    const teamId = e.target.id;
    $('.update-team').attr('action', `/teams/${teamId}`);
  })
</script>
