<table class="teamList">
  <tr>
    <th>name</th>
    <th>pokemon 1</th>
    <th>pokemon 2</th>
    <th>pokemon 3</th>
    <th>pokemon 4</th>
    <th>pokemon 5</th>
    <th>save</th>
    <th>start</th>
  </tr>
  <%= @teams.first.name %>
  <% @teams.each do |team| %>
  <tr class="singleTeam">
    <td>
    <% if team.name == nil %>
    	<input class="teamName" type="text" value="No. <%= team.id %> Team">

    <% else %>
    	<input class="teamName" type="text" value="<%=team.name%>">
    <% end %>
    </td>
    <td>
    <% if team.member_1 == nil %>
			<input class="member1" type="text" value='+'>
    <% else %>
			<input class="member1" type="text" value="<%= team.member_1 %>">
    <% end %>	
    </td>

    <td>
    <% if team.member_2 == nil %>
			<input class="member2" type="text" value='+'>
    <% else %>
			<input class="member2" type="text" value="<%= team.member_2 %>">
    <% end %>	
    </td>

    <td>
    <% if team.member_3 == nil %>
			<input class="member3" type="text" value='+'>
    <% else %>
			<input class="member3" type="text" value="<%= team.member_3 %>">
    <% end %>	
    </td>

    <td>
    <% if team.member_4 == nil %>
			<input class="member4" type="text" value='+'>
    <% else %>
			<input class="member4" type="text" value="<%= team.member_4 %>">
    <% end %>	
    </td>

    <td>
    <% if team.member_5 == nil %>
			<input class="member5" type="text" value='+'>
    <% else %>
			<input class="member5" type="text" value="<%= team.member_5 %>">
    <% end %>	
    </td>
    <td><button class="saveTeam" value=<%= team.id %>>save</button></td>
    <td><%= team.start_time %></td>
  </tr>
  <% end %>
</table>
<div>
	<form action="/teams/" method="post" enctype="multipart/form-data">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<button>add new team</button>
	</form>
</div>

<script type="text/javascript">
	var teamList = document.querySelector('.teamList');

	teamList.addEventListener("click",function(){
		// console.log("work")

		//save change function
		if(event.target.className == "saveTeam"){
			console.log(event.target.value)
			var teamName = event.target.closest('.singleTeam').querySelector('.teamName').value;
			var team1 = event.target.closest('.singleTeam').querySelector('.member1').value;
			var team2 = event.target.closest('.singleTeam').querySelector('.member2').value;
			var team3 = event.target.closest('.singleTeam').querySelector('.member3').value;
			var team4 = event.target.closest('.singleTeam').querySelector('.member4').value;
			var team5 = event.target.closest('.singleTeam').querySelector('.member5').value;
			console.log(teamName)
			console.log(team1)

			var url = './'+event.target.value;

			var data = {
				name:teamName,
				member_1:team1,
				member_2:team2,
				member_3:team3,
				member_4:team4,
				member_5:team5,
			};

			fetch(url, {
			  method: 'PUT',
			  body: JSON.stringify(data), 
			  headers: new Headers({
			    'Content-Type': 'application/json',
        	'Accept': 'application/json',
			    'X-Requested-With': 'XMLHttpRequest',
			    'X-CSRF-Token': AUTH_TOKEN
			  })
			}).then(res => res.json())
			.catch(error => console.error('Error:', error))
			.then(response => {
				console.log('Success:', response);
			});
		}

		//search pokemon in my_pokemon table
		if(
			event.target.className == "member_1" ||
			event.target.className == "member_2" ||
 			event.target.className == "member_3" ||
 			event.target.className == "member_4" ||
 			event.target.className == "member_5"
		){
			console.log(event.target.className)
			var search_value = event.target.value;
			var team1 = event.target.closest('.singleTeam').querySelector('.member1').value;
			console.log(teamName)
			console.log(team1)

			var url = './'+event.target.value;

			var data = {
				name:teamName,
				member_1:team1
			};

			fetch(url, {
			  method: 'PUT',
			  body: JSON.stringify(data), 
			  headers: new Headers({
			    'Content-Type': 'application/json',
        	'Accept': 'application/json',
			    'X-Requested-With': 'XMLHttpRequest',
			    'X-CSRF-Token': AUTH_TOKEN
			  })
			}).then(res => res.json())
			.catch(error => console.error('Error:', error))
			.then(response => {
				console.log('Success:', response);
			});
		}

})
</script>