
	<h2 class="shopTitle">Poke Shop</h2>
	<p class="allMoney"><img src="assets/shop_img/money-bag.png"> $ <span id="chaChing"> <%= @user.money %></span></p>
	<div class="shop_container" id="container">

		<div class="tab_container">
			<div class="buySellBox1" id="tabBar1">
				<!-- <h1 class="titleBuy">BUY</h1> -->
				    <% @shops.each do |shop| %>
						<div class="pokeCard">
							<div class="imgNDetail">
							    <img src=<%= shop.img_url %> style="width: 30%">

							    <div class="nameAndPrice">
								    <p class="pokeName"><%= shop.name %></p>
								    <div><span class="dorllarSign">$</span><span class="itemBuyPrice"><%= shop.price %></span></div>
							    </div>
						    </div>
						   	<div class="btnBox">
							    <div class="minusBtn">
							    	<img alt="" src="assets/shop_img/left.png" style="width: 35%">
							    </div>
							    <div class="itemCounter"><span class="itemBuyQuantity">0</span></div>
								<div class="addBtn">
									<img src="assets/shop_img/right.png" style="width: 35%">
								</div>
								<p><span class="dorllarSign">$</span><span class="itemBuyValue">0</span></p>
							</div>

						</div>
				  	<% end %>
				  
			</div>
			<div class="pokeCardForm">
					<form action="/shops" method="post" >
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="actionType" value="buy">
						<label class="totalShow">$<input type="text" id="spnTotalPrice" name="totalPrice" class="num"  value="0" readonly="readonly" /></label>
					  	<button onclick="">Buy</button>
					</form>
			</div>

		  	<div class="buySellBox2" id="tabBar2">
		  		<!-- <h1>SELL</h1> -->
				    <% @pokemons.each do |pokemon| %>
					    <div id="sellCheckBox">
					    	<label>
					    		<img src="<%= pokemon.species.img_url %>" style="width: 90%" class="itemsSellImg">
					    		<p><%= pokemon.nickname %> </p>
							    <p>Level: <%= pokemon.level %> </p>
							    <p><span class="">$20</span> </p>
					    		<p><input type="checkbox" class="checkoutInput" name="<%= pokemon.nickname %>" value="20" /></p>
						    </label>
						</div>
				    <% end %>
				    <form action="/shops" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="actionType" value="sell">
					<div class="showNum">
						<label class="totalShow">$<input type="text" type="hidden" id="txtTotal" class="num" name="totalIncome" size="6" value="0" readonly="readonly" /></label>
						<button id="btnSell">sell</button>
					</div>
					</form>
			</div>
		</div>
	</div>

<script
   src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
   crossorigin="anonymous"></script>
<script>
	console.log("ready for poke farm");

    var $minusBtns = $('.minusBtn');
    	$minusBtns.on('click', function() {
		      var $itemBuyQuantity = $(event.target).closest('.pokeCard').find('.itemBuyQuantity')
		      var $itemBuyValue = $(event.target).closest('.pokeCard').find('.itemBuyValue')
		      var $itemBuyPrice = $(event.target).closest('.pokeCard').find('.itemBuyPrice')
		      var itemNum = 0;
		      	if (Number($itemBuyQuantity.text()) > 0) {
		      		itemNum = Number($itemBuyQuantity.text()) - 1;
		    		var itemPrice = Number($itemBuyPrice.text())
				    var itemValue = itemNum * itemPrice;
				    $itemBuyQuantity.text( itemNum );
				    $itemBuyValue.text( itemValue );
				    var $spnTotalPrice = $("#spnTotalPrice")
				    var totalPrice = Number( $spnTotalPrice.val());
				    totalPrice -= itemPrice;
				    $spnTotalPrice.val( totalPrice );
		      	}
		});

	var $addBtns = $('.addBtn');
    $addBtns.on('click', function() {
	    var $itemBuyQuantity = $(event.target).closest('.pokeCard').find('.itemBuyQuantity')
	    var $itemBuyValue = $(event.target).closest('.pokeCard').find('.itemBuyValue')
	    var $itemBuyPrice = $(event.target).closest('.pokeCard').find('.itemBuyPrice')
	    var itemNum = Number($itemBuyQuantity.text()) + 1;
	    var itemPrice = Number($itemBuyPrice.text())
	    var itemValue = itemNum * itemPrice;
	    $itemBuyQuantity.text( itemNum );
	    $itemBuyValue.text( itemValue );
	    var $spnTotalPrice = $("#spnTotalPrice")
	    var  totalPrice = Number( $spnTotalPrice.val());
	    totalPrice += itemPrice;
	    $spnTotalPrice.val( totalPrice );
    });

	var sellCheckBox = document.getElementById("sellCheckBox");
	var inputs = document.getElementsByClassName("checkoutInput");
	var totalValue = 0;
	var txtTotal = document.getElementById("txtTotal");
	var btnSell = document.getElementById("btnSell");

	Array.from(inputs).forEach(function(input) {
	input.addEventListener("click", checkboxClick);
		function checkboxClick() {
			if(input.checked) {
			totalValue += Number(input.value);
	 		txtTotal.value = totalValue;
	 		} else {
	 		totalValue -= Number(input.value);
	 		txtTotal.value = totalValue;
	 		}
	 	};
	});



</script>
