<div class="small-container">
	<h1>Pokemons</h1>
	<div class="search">
			<input class="input form" type="text" name="identifier" placeholder="Input a pokemon name">
			<button class="btn btn-primary search-btn">Search</button>
	</div>

	<div id="result-box">

	</div>

	<table>
			<tr>
		    <th>name</th>
		    <th>height</th>
		    <th>weight</th>
		    <th>color</th>
		    <th>shape</th>
		    <th>habitat</th>
		    <th>image</th>
		  </tr>
		<% @species.each do |species| %>
			<tr>
				<td><%= species.identifier %></td>
				<td><%= species.height/10.0 %></td>
				<td><%= species.weight/10.0 %></td>
				<td><%= species.color %></td>
				<td><%= species.shape %></td>
				<td><%= species.habitats.first.identifier %></td>
				<td><img src=<%= species.img_url %>></td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @species %>
</div>

<script type="text/javascript">
	$('.search-btn').click(function() {
		var $list = $('.result')
    $list.children().remove();

		if (!$('.input').val()) {
			return
		}

		var options = {
			url: '/api/species/'+ $('.input').val(),
			data: { identifier: $('.input').val()}
		}

		$.ajax(options).done(function(response) {
			console.log(response.length)
			var tag = ['name','height','weight','color','shape','habitat','image']
			var $tr = $('<tr>').addClass('pop-tr');
			for(i=0; i<tag.length; i++){
			    var content = '<th>' + tag[i]+ '</th>'
					$tr.append(content)
			 }
			 var $table = $('<table>').addClass('pop-table')
			 $table.append($tr);
			 $('#result-box').append($table);

			 for (var i = 0; i < response.length; i++) {
 				console.log(response[i].identifier);
          var $tr_1 = $('<tr>').addClass('pop-tr')
			 		var content = '<td>' + response[i].identifier + '</td>'
			 			$tr_1.append(content)
						content = '<td>' + response[i].height/10.0+ '</td>'
						$tr_1.append(content)
			 			content = '<td>' + response[i].weight/10.0 + '</td>'
			 			$tr_1.append(content)
						content = '<td>' + response[i].color + '</td>'
            $tr_1.append(content)
						content = '<td>' + response[i].shape + '</td>'
            $tr_1.append(content)
						content = '<td>' + response[i].habitat + '</td>'
            $tr_1.append(content)
            $img = $('<img>').attr('src', response[i].img_url)
						content = $('<td>').append($img)
			 			$tr_1.append(content)
						$table.append($tr_1);
			 }
			 $('#result-box').append($table);
			 $('#result-box').addClass('result');
    });
  });
</script>
