
<h1>Pokemon Collection</h1>
<a href="/my_pokemons/new"><button>Catch New Pokemon</button></a>
<a href="/species"><button>Pokedex</button></a>
<a href="/species"><button>Pokeshop</button></a>
<div class="farm">
	<% @pokemons.each do |pokemon| %>
	<div class="pokemon">
		<div><%= pokemon.nickname %></div>
		<div><%= pokemon.level %></div>
		<div><img src=<%= pokemon.species.img_url %>></div>
		<%# if pokemon.ready_for_evolution %>
		<!-- <button class="evolute" id =<%= pokemon.id %>>Evolute</button> -->
		<%# end %>
	</div>
	<% end %>
</div>
<table class="showList">
	<tr>
    <th>nickname</th>
    <th>sepcies</th> 
    <th>level</th>
    <th>exp</th>
    <th>image</th>
    <th>ready for evolute</th>
  </tr>
	<% @pokemons.each do |pokemon| %>
	<tr class="show_list">
		<td class="nickname"><%= pokemon.nickname %></td>
		<td class="species"><%= pokemon.species.identifier %></td>
		<td class="level"><%= pokemon.level %></td>
		<td class="exp"><%= pokemon.exp %></td>
		<td class="img_url"><img src=<%= pokemon.species.img_url %>></td>
		<td class="ready_for_evolution">
			<% if pokemon.ready_for_evolution %>
			<button class="evolute" id =<%= pokemon.id %>>Evolute</button>
			<% end %>		
		</td>
	</tr>
	<% end %>
</table>

<script type="text/javascript">
	
	document.querySelector('.showList').addEventListener('click',function(event){
		if(event.target.className === "evolute"){
			console.log(event.target.id)
			var url = '/my_pokemons/'+event.target.id;
			var data = {

			};

			fetch(url, {
			  method: 'PUT',
			  body: JSON.stringify(data), 
			  headers: new Headers({
			    'Content-Type': 'application/json',
        	'Accept': 'application/json',
			    'X-Requested-With': 'XMLHttpRequest',
			    'X-CSRF-Token': AUTH_TOKEN
			  })
			}).then(res => res.json())
			.catch(error => console.error('Error:', error))
			.then(response => {
				console.log('Success:', response);
				event.target.closest('.show_list').querySelector('.species').innerHTML = response['species_name'];
				event.target.closest('.show_list').querySelector('.img_url').querySelector('img').src = response['img_url'];
				if(response['ready_for_evolution'] != true){
					event.target.closest('.show_list').querySelector('.ready_for_evolution').style.display="none";
				}
			});
		}
	})

</script>

